.photos-page {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photos-page-nonavailable{
  display: flex;
  justify-content: center;
  align-items: center;
}
