.photos-user-page {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photos-user-page-title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
  color: #80d0c7;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}

.photos-user-page-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photos-user-page-btn {
  text-decoration: none;
  padding: 10px 5px;
  border: 1px solid #13547a;
  background: #13547a;
  color: #ffff;
  margin-top: 10px;
  border-radius: 20px;
}

.photos-user-page-btn:hover {
  border: 1px solid #13547a;
  background: transparent;
  color: #13547a;
}
.photos-page-nonavailable{
  margin-top: 100px;
}
.photos-page-nonavailable-title{
  margin-right: 30px;
  color: #80d0c7;
  text-transform: uppercase;
  font-weight: bolder;
}